header { background-color:#2d81bd;
		padding-bottom:18%;		
		background-image:url("file:///C:/Users/teste/Desktop/Projetos%20para%20o%20git/Dicionario_das_tags/_imagens/wallpaper-azul.jpg");
		background-repeat: no-repeat;
		background-size: 100%;
		
				
}		

a:hover {
	color:#9c244c;
	
}
a:visited {
	color:#111169;
}

a {
	text-decoration:none;
	color:#7272f7;
}

form {
	position:absolute;
	left:65%;
	top:20%;
	
	
}


ul {
	text-align:center;
	letter-spacing:15px;
}

footer {
	background-color: #eb9138;
	padding: 20px;
	position: relative;
	top: 300px;

}
body {
	background-color: #e7ebe1;
}
h1, h2, h3, h4{
	color: #6b6b65;
	b
	
}

.rodape { text-align: center;
	line-height:4px;
	
}

h1 {
	border-bottom: solid;
	border-color: black;
	border-bottom-width: 1px;	
}