/*.icone-pesquisa {
	display:table;
}
.icone-pesquisa .busca1 {
	border-right:0;
	padding: 1rem;
}
.icone-pesquisa-texto {
	background:#F2F2F2;
	border: 1px solid #DCDCDC;
	box-sizing: border-box;
	display: table-cell;
	font-size: 8rem;
	line-height: 0;
	padding: 1rem;
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
	width: 1%;
}*/